.mainContainer {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  // padding: 2rem;
  border-radius: 20px;
  margin: 1rem 1rem;
  padding-top: 7rem;
  background: var(--white);

  header {
    display: none;
  }

  @media (min-width: 768px) {
    margin-left: 3.25rem;
    margin-right: 3.25rem;
    padding: 2rem;
  }

  @media (min-width: 992px) {
    background-color: var(--white);
    padding-top: 2rem;
    margin-top: 6rem;

    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    header {
      display: block;
    }
  }

  @media (min-width: 1200px) {
    // margin-left: calc((110vw - 1500px) / 2);
    // margin-right: calc((110vw - 1500px) / 2);
    margin-left: calc((95vw - 1100px) / 2);
    margin-right: calc((95vw - 1100px) / 2);
  }

  @media (min-width: 1300px) {
    margin-left: calc((90vw - 1100px) / 2);
    margin-right: calc((90vw - 1100px) / 2);
  }

  @media (min-width: 1400px) {
    margin-left: calc((86vw - 1100px) / 2);
    margin-right: calc((86vw - 1100px) / 2);
  }

  // header {
  // background: green;
  // }
}

.slider {
  width: 98%;
}

.imageAndDetailsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  // display: grid;
  // grid-template-columns: 1fr;
  // gap: 2rem;

  // @media (min-width: 992px) {
  //   grid-template-columns: 7fr 5fr;
  //   gap: 4rem;
  // }

  @media (min-width: 1200px) {
    // display: flex;
    flex-direction: row;
    gap: 4rem;

    // grid-template-columns: 7fr 5fr;
    // gap: 4rem;
  }
}

.imageCarrousel {
  display: flex;
  flex-direction: column;
  width: 100%;
  // margin: 3rem;

  @media (min-width: 1200px) {
    width: 48%;
  }
}

.info {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;

  @media (min-width: 1200px) {
    width: 47%;
  }
}

.imageWrapper {
  padding: 0 2rem;

  div {
    border-radius: 16px;
    overflow: hidden;
  }

  // width: 80%;
  @media (min-width: 768px) {
    padding: 0 8rem;
  }

  // @media (min-width: 992px) {
  //   padding: 0 1rem;
  // }

  @media (min-width: 1200px) {
    padding: 0.1rem 0.1rem 1rem 0.1rem;
  }
}

.carInfoWrapper {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: auto 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  align-items: center;
  grid-template-areas:
    "logo title"
    "logo price";

  @media (min-width: 768px) {
    grid-template-areas:
      "logo title"
      "logo price";
  }

  // @media (min-width: 992px) {
  //   grid-gap: 0.5rem;
  //   grid-template-areas:
  //     "logo title"
  //     "logo price";
  // }

  @media (min-width: 1200px) {
    column-gap: 0.5rem;
    row-gap: 0;
    grid-template-areas:
      "logo title"
      "logo price";
  }

  .brandImageWrapper {
    grid-area: logo;
    width: 3rem;
    background-color: var(--gray-200);
    border-radius: 0.8rem;
    align-self: flex-start;
    margin-right: 0.8rem;

    @media (min-width: 768px) {
      width: 4rem;
    }
    @media (min-width: 1200px) {
      width: 5rem;
    }
  }

  .priceAndFlagsWrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .name {
    grid-area: title;
    font-size: 1.6rem;
    font-weight: 800;
    margin: 0;
  }

  .price {
    grid-area: price;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary);
    margin: 0;
  }
}

.flagsWrapper {
  grid-area: flags;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 600;
  font-size: 0.6rem;

  .leftFlag {
    position: relative;
    background: var(--secondary);
    padding: 0 1rem;
    border-radius: 0 4px 0 0;
    padding-right: 1.4rem;
    z-index: 2;
    min-height: 1.6rem;
    display: flex;
    align-items: center;
    white-space: nowrap;

    &:after {
      content: "";
      position: absolute;
      right: -1px;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 1.6rem solid var(--tertiary);
      border-left: 1.3rem solid transparent;
    }
  }

  .leftFlagInverted {
    position: relative;
    background: var(--tertiary);
    padding: 0 1rem;
    border-radius: 0 4px 0 0;
    padding-right: 1.4rem;
    z-index: 2;
    min-height: 1.6rem;
    display: flex;
    align-items: center;
    white-space: nowrap;

    &:after {
      content: "";
      position: absolute;
      right: -1px;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 1.6rem solid var(--white);
      border-left: 1.3rem solid transparent;
    }
  }

  .leftFlagOnly {
    position: relative;
    background: var(--secondary);
    padding: 0 1rem;
    border-radius: 0 4px 0 0;
    padding-right: 1.4rem;
    z-index: 2;
    min-height: 1.6rem;
    display: flex;
    align-items: center;
    white-space: nowrap;

    &:after {
      content: "";
      position: absolute;
      right: -1px;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 1.6rem solid var(--white);
      border-left: 1.3rem solid transparent;
    }
  }

  .rightFlag {
    background: var(--tertiary);
    padding: 0 1rem;
    padding-left: 1.4rem;
    margin-left: -10px;
    min-height: 1.6rem;
    display: flex;
    align-items: center;
    text-align: right;
    white-space: nowrap;
  }
}

.specsWrapper {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  // @media (min-width: 992px) {
  //   grid-template-columns: 1fr 1fr 1fr 1fr;
  //   gap: 1rem;
  // }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}

.contactUsBox {
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100%;
  width: 100vw;
  background: white;
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0px -1px 16px rgba(0, 0, 0, 0.1);
  
  @media (min-width: 768px) {
    padding: 1rem 8.25rem 1rem 7.25rem;
    justify-content: space-between;
  }
  
  @media (min-width: 1200px) {
    padding: 1rem;
    min-width: 100%;
    width: 100%;
    position: relative;
    border-radius: 1rem;
    grid-column: span 4;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }

}

.contactUsText {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    h3 { 
      margin: 0 0 0.5rem 0
    }
    p { 
      margin: 0
    }
  }
}

.smallScreen {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}

.largeScreen {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

// .buttonContainer {
//   margin: 0;
// }

.optionalsWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  // @media (min-width: 992px) {
  //   grid-template-columns: 1fr 1fr 1fr 1fr;
  // }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}

.optionalsHeadTitle {
  font-size: 1.2rem;
  color: var(--secondary);
  margin-top: 3rem;
  padding-right: 2rem;
  padding-left: 2rem;

  // @media (min-width: 992px) {
  //   grid-template-columns: 1fr 1fr 1fr 1fr;
  //   padding-top: 1rem;
  // }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 1rem;
  }
}
