.mainContainer {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 20px;
  margin: 1rem 1rem;
  padding-top: 7rem;
  background: var(--white);

  header {
    display: none;
  }

  @media (min-width: 768px) {
    margin-left: 3.25rem;
    margin-right: 3.25rem;
  }

  @media (min-width: 992px) {
    background-color: var(--white);
    padding-top: 2rem;
    margin-top: 6rem;

    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    header {
      display: block;
    }
  }

  @media (min-width: 1200px) {
    margin-left: calc((110vw - 1200px) / 2);
    margin-right: calc((110vw - 1200px) / 2);
  }

  // header {
  // background: green;
  // }
}

.imageAndDetailsWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @media (min-width: 992px) {
    grid-template-columns: 7fr 5fr;
    gap: 4rem;
  }
}

.imageWrapper {
  padding: 0 2rem;
  // width: 80%;
  @media (min-width: 768px) {
    padding: 0 8rem;
  }
  @media (min-width: 992px) {
    padding: 0 1rem;
  }
}

.carInfoWrapper {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: auto 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  align-items: center;
  grid-template-areas:
    "logo title"
    "logo price";

  @media (min-width: 768px) {
    grid-template-areas:
      "logo title"
      "logo price";
  }

  @media (min-width: 992px) {
    grid-gap: 0.5rem;
    grid-template-areas:
      "logo title"
      "logo price";
  }

  @media (min-width: 1200px) {
    grid-gap: 0.8rem;
    grid-template-areas:
      "logo title"
      "logo price";
  }

  .brandImageWrapper {
    grid-area: logo;
    width: 3rem;
    background-color: var(--gray-200);
    border-radius: 0.8rem;
    align-self: flex-start;
    margin-right: 0.8rem;

    @media (min-width: 768px) {
      width: 4rem;
    }
    @media (min-width: 1200px) {
      width: 5rem;
    }
  }

  .priceAndFlagsWrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .name {
    grid-area: title;
    font-size: 1.7rem;
    font-weight: 800;
    margin: 0;
  }

  .price {
    grid-area: price;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary);
    margin: 0;
  }
}

.flagsWrapper {
  grid-area: flags;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 600;
  font-size: 0.6rem;

  .leftFlag {
    position: relative;
    background: var(--secondary);
    padding: 0 1rem;
    border-radius: 0 6px 0 0;
    padding-right: 1.4rem;
    z-index: 2;
    min-height: 2.25rem;
    display: flex;
    align-items: center;
    white-space: nowrap;

    &:after {
      content: "";
      position: absolute;
      right: -1px;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 1.8rem solid var(--tertiary);
      border-left: 1.3rem solid transparent;
    }
  }

  .leftFlagInverted {
    position: relative;
    background: var(--tertiary);
    padding: 0 1rem;
    border-radius: 0 6px 0 0;
    padding-right: 1.4rem;
    z-index: 2;
    min-height: 2.25rem;
    display: flex;
    align-items: center;
    white-space: nowrap;

    &:after {
      content: "";
      position: absolute;
      right: -1px;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 1.8rem solid var(--white);
      border-left: 1.3rem solid transparent;
    }
  }

  .leftFlagOnly {
    position: relative;
    background: var(--secondary);
    padding: 0 1rem;
    border-radius: 0 6px 0 0;
    padding-right: 1.4rem;
    z-index: 2;
    min-height: 2.25rem;
    display: flex;
    align-items: center;
    white-space: nowrap;

    &:after {
      content: "";
      position: absolute;
      right: -1px;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 1.8rem solid var(--white);
      border-left: 1.3rem solid transparent;
    }
  }

  .rightFlag {
    background: var(--tertiary);
    padding: 0 1rem;
    padding-left: 1.4rem;
    margin-left: -10px;
    min-height: 2.25rem;
    display: flex;
    align-items: center;
    text-align: right;
    white-space: nowrap;
  }
}

.specsWrapper {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}

.optionalsWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.optionalsHeadTitle {
  font-size: 1.4rem;
  color: var(--secondary);
  padding-top: 2rem;

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 1rem;
  }
}
