.box {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  border-radius: 10px 10px 0 0;
  //   padding: 1.3rem;
  padding-bottom: 7rem;

  @media (min-width: 992px) {
    width: 28rem;
  }
}

.main {
  position: relative;

  display: flex;
  flex-direction: column;
  max-height: 50vh;
  overflow-y: auto;

  transition: height 1.5s;
}

.title {
  color: var(--secondary);
  font-size: 1.5rem;
  font-weight: 800;
  width: 24rem;
  padding: 2rem 0 1rem 0;
  margin: 0;
}

.item {
  width: 24rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.3rem 0;
  border-bottom: 1px solid var(--gray-200);

  p {
    font-weight: 500;
  }

  div {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    border: 1.5px solid var(--gray-600);
  }
}

.active {
  &::after {
    display: block;
    content: "";
    width: 1rem;
    height: 1rem;
    margin-top: calc(0.25rem - 1.5px);
    margin-left: calc(0.25rem - 1.5px);
    border-radius: 100%;
    background: var(--primary);
  }
}

.closeArrow {
  position: absolute;
  top: -1.5rem;
  right: 3rem;
  background: var(--gray-200);
  border-radius: 1rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 30;
  cursor: pointer;

  svg {
    color: var(--primary);
  }
}
