.item {
  padding: 1.5rem;
  border-bottom: 1px solid var(--gray-400);

  &:last-child {
    border-bottom: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  h6 {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: var(--primary);
  }

  svg {
    color: var(--gray-600);
  }
}

.count {
  background: var(--secondary);
  width: 1.2rem;
  height: 1.2rem;
  color: var(--white);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.8rem;
  margin-left: 0.2rem;
}

.content {
  flex: 1;
}

.multiContent {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  column-gap: 1rem;
  row-gap: 0rem;
}
