.HeaderContainer {
  position: fixed;
  top: 0;
  padding: 0.8rem 1.6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  background-color: var(--white);
  margin: 0;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);

  // min-height: 3rem;

  @media (min-width: 768px) {
    padding-left: 3.25rem;
    padding-right: 3.25rem;
  }

  @media (min-width: 992px) {
    // background-color: var(--gray-200);
  }

  // @media (min-width: 1200px) {
  //   padding-left: calc((110vw - 1200px) / 2);
  //   padding-right: calc((110vw - 1200px) / 2);
  // }

  @media (min-width: 1200px) {
    // margin-left: calc((110vw - 1500px) / 2);
    // margin-right: calc((110vw - 1500px) / 2);
    padding-left: calc((95vw - 1100px) / 2);
    padding-right: calc((95vw - 1100px) / 2);
  }

  @media (min-width: 1300px) {
    padding-left: calc((90vw - 1100px) / 2);
    padding-right: calc((90vw - 1100px) / 2);
  }

  @media (min-width: 1400px) {
    padding-left: calc((86vw - 1100px) / 2);
    padding-right: calc((86vw - 1100px) / 2);
  }
}

.logoWrapper {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }

  @media (min-width: 992px) {
    display: none;
  }
}

.fullLogoWrapper {
  display: none;
  margin-left: 2rem;
  position: relative;

  @media (min-width: 992px) {
    display: block;
    width: 10rem;
  }
}

.returnButtonWrapper {
  @media (min-width: 992px) {
    display: none;
  }
}

.buttonsContainer {
  display: flex;
  gap: 1rem;

  @media (min-width: 992px) {
    margin-right: 2rem;
  }
}
