.buttonContainer {
  width: 3.4rem;
  min-width: 3.4rem;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
  border-radius: 0.8rem;
  background: var(--secondary);
  color: var(--white);

  cursor: pointer;

  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;

  @media (min-width: 992px) {
    width: 3rem;
    min-width: 3rem;
    height: 3rem;
  }
}
