.container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding: 0.5rem 1.6rem 2rem 1.6rem;
  margin: 0;
  column-gap: 1.6rem;
  row-gap: 3.6rem;
  padding-bottom: 7rem;

  @media (min-width: 768px) {
    padding: 2rem 3.25rem;
    grid-template-columns: 3fr 3fr; //6columns
  }

  @media (min-width: 992px) {
    padding-left: calc((110vw - 992px) / 2);
    padding-right: calc((110vw - 992px) / 2);
    grid-template-columns: 3fr 3fr; //6columns
    // grid-template-columns: 4fr 4fr 4fr; //12columns
  }

  @media (min-width: 1200px) {
    padding-left: calc((88vw - 1200px) / 2);
    padding-right: calc((88vw - 1200px) / 2);
    grid-template-columns: 4fr 4fr 4fr; //12columns
    margin: 0 2rem;
  }
}

.listGrid {
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.openDrawer {
  @media (min-width: 992px) {
    // padding-right: 25rem;
    padding-right: calc(((110vw - 992px) / 2) + 25rem);
  }

  @media (min-width: 1200px) {
    grid-template-columns: 3fr 3fr; //6columns
    padding-right: calc(((88vw - 1200px) / 2) + 10rem);
  }
}

.notfoundcontainer {
  display: flex;
  padding: 0.5rem 1.6rem 2rem 1.6rem;
  margin: 0;

  @media (min-width: 768px) {
    padding: 2rem 3.25rem;
  }

  @media (min-width: 992px) {
    padding-left: calc((110vw - 992px) / 2);
    padding-right: calc((110vw - 992px) / 2);
  }

  @media (min-width: 1200px) {
    padding-left: calc((88vw - 1200px) / 2);
    padding-right: calc((88vw - 1200px) / 2);
    margin: 0 2rem;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0.5rem 1rem 0.3rem 1.6rem;
  padding: 0;

  @media (min-width: 768px) {
    margin-left: 3.25rem;
  }

  @media (min-width: 992px) {
    margin-left: calc((110vw - 992px) / 2);
  }

  @media (min-width: 1200px) {
    margin-left: calc(((88vw - 1200px) / 2) + (10rem - 5vw));
  }

  @media (min-width: 1280px) {
    margin-left: calc(((88vw - 1200px) / 2) + 4rem);
  }

  @media (min-width: 1370px) {
    margin-left: calc(((88vw - 1200px) / 2) + 2rem);
  }
}
