.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 0.3rem;
  padding-top: 1.5rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.icon {
  width: 4rem;
  height: 4rem;
  border-radius: 6px;
  display: flex;
  border: 1px solid var(--gray-400);

  &:hover {
    border: 1px solid var(--primary);
  }
}

.name {
  font-weight: 400;
  font-size: 0.7rem;
  margin: 0;
  padding: 0.3rem 0;
}

.selected {
  border: 2px solid var(--primary);

  &:hover {
    border: 2px solid var(--primary);
  }
}

.showButton {
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  font-size: 0.7rem;
  color: var(--primary);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background: var(--white);
  border-radius: 6px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
