.title {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 1.5rem;
  padding-bottom: 2rem;
  margin-top: 2rem;

  h3 {
    font-size: 1.6rem;
    font-weight: 800;
    padding: 0;
    margin: 0;
  }

  p {
    font-size: 0.9rem;
    font-weight: 600;
    padding-top: 0.5rem;
    margin: 0;
    color: var(--secondary);
    cursor: pointer;
  }

  border-bottom: 1px solid var(--gray-400);
}

.body {
  overflow: scroll;
  max-height: calc(100vh - 13rem);
}
