.container {
  margin: auto;
  width: 80vw;

  display: flex;
  align-items: center;
  gap: 1rem;
  transform: translateY(-50%);

  @media (min-width: 992px) {
    padding-left: calc((110vw - 992px) / 2);
    padding-right: calc((110vw - 992px) / 2);
    // grid-template-columns: 4fr 4fr 4fr; //12columns
  }

  @media (min-width: 1200px) {
    padding-left: calc((100vw - 1200px) / 2);
    padding-right: calc((100vw - 1200px) / 2);
  }
}

.openDrawer {
  @media (min-width: 992px) {
    padding-left: calc(((100vw - 992px) / 2) - 14rem);
    padding-right: calc(((100vw - 992px) / 2) + 20rem);
  }

  @media (min-width: 1200px) {
    padding-left: calc(((100vw - 1200px) / 2) - 14rem);
    padding-right: calc(((100vw - 1200px) / 2) + 14rem);
  }
}

.filterButton {
  position: relative;
}

.buttonIndicator {
  position: absolute;
  top: -0.6rem;
  right: -0.6rem;
  background: var(--white);
  width: 1.2rem;
  height: 1.2rem;
  color: var(--primary);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.8rem;
}
