.container {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;

  min-height: 100vh;
  max-height: 100vh;
  z-index: 9999;
}

.nav {
  position: fixed;
  width: 20rem;
  top: 0;
  right: -20rem;
  height: 100vh;
  background: var(--white);
  border-radius: 40px 0px 0px 0px;
  z-index: 10;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2rem 2.5rem;
}

.openDrawer {
  width: 100vw;
}

.openNavDrawer {
  right: 0;
}

.dropShaddow {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  // backdrop-filter: blur(0.8px);
  // -webkit-backdrop-filter: blur(0.8px);
}

.closeButton {
  align-self: flex-end;
}

.contactWrapper {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.lineTitle {
  font-size: 1.2rem;
}

.lineItem {
  color: var(--primary);
  padding: 0.76rem;
  display: flex;
  align-items: center;
  cursor: pointer;

  p {
    padding: 0;
    padding-left: 1rem;
    margin: 0;
    font-size: 1.1rem;
  }

  svg {
    width: 1.15rem;
    height: 1.15rem;
  }
}

.phone:hover p {
  display: none;
}

.phone:hover:after {
  content: "+55 19 3491-3114";
  padding: 0;
  padding-left: 1rem;
  margin: 0;
  font-size: 1rem;
  color: var(--primary);
  font-weight: 500;
}
