.copyTitle {
  font-size: 1rem;
  line-height: 1.4rem;
  margin: 0;
  margin-bottom: 0.6rem;
  font-weight: 600;
}
.copy {
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin: 0;
  // margin-bottom: 1.4rem;
}

.button {
  width: 100%;

  margin-top: 3rem;

  @media (min-width: 678px) {
    width: 50%;
    margin-top: 4rem;
  }
}
