.card {
  background: var(--gray-200);
  background-image: linear-gradient(var(--gray-200), var(--white));
  padding: 1.5rem 1.5rem;
  border-radius: 15px;

  h4 {
    margin: 0;
    padding: 0.2rem 0rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary);
  }

  ul {
    padding-inline-start: 1rem;
    line-height: 1.6rem;
    font-size: 0.9rem;
    color: var(--primary);
  }

  svg {
    width: 1.2rem;
    height: 1.2rem;
  }
}
