.HeaderContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 40vh;

  @media (min-width: 768px) {
    height: 30vh;
  }

  @media (min-width: 1200px) {
    height: 40vh;
  }
}

.image1 {
  background: url("/assets/images/header.png");
}

.image2 {
  background: url("/assets/images/header_alt.png");
}

.HeaderImageBox {
  position: absolute;
  inset: 0;
  // background: url("/assets/images/header.png");
  background-repeat: no-repeat;
  background-position: right 65%;
  background-size: 992px;
  display: flex;
  justify-content: space-between;
  height: 40vh;

  @media (min-width: 768px) {
    background-size: 992px;
    height: 30vh;
    // padding: 2rem 3.25rem;
  }

  @media (min-width: 992px) {
    background-size: 100%;
  }

  @media (min-width: 1200px) {
    background-size: cover;
    // padding-left: calc((110vw - 1200px) / 2);
    // padding-right:  calc((110vw - 1200px) / 2);
  }
}

.FixedWrapper {
  padding: 2rem 1.6rem;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin: 0;

  @media (min-width: 768px) {
    padding: 2rem 3.25rem;
  }

  @media (min-width: 992px) {
    padding-left: calc((110vw - 992px) / 2);
    padding-right: calc((110vw - 992px) / 2);
    // grid-template-columns: 4fr 4fr 4fr; //12columns
  }

  @media (min-width: 1200px) {
    padding-left: calc((88vw - 1200px) / 2);
    padding-right: calc((88vw - 1200px) / 2);
  }
}

.logoWrapper {
  width: 10rem;

  @media (min-width: 992px) {
    width: 11rem;
  }

  @media (min-width: 1200px) {
    margin-left: 2rem;
    width: 12rem;
  }
}

.hidden {
  max-height: 0;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  transition: max-height overflow padding 4s ease-in-out;
}

.fixedWrapperCondensed {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  transition: backdrop-filter 1.5s ease;
  z-index: 100;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;

  @media (min-width: 1200px) {
    margin-right: 2rem;
  }
}

.backgroundImage {
  position: absolute;
  inset: 0;
}
