.HeaderContainer {
  position: relative;
  background: url("/assets/images/header.png");
  background-repeat: no-repeat;
  background-position: right 65%;
  background-size: 992px;
  display: flex;
  justify-content: space-between;
  height: 40vh;

  @media (min-width: 768px) {
    background-size: 992px;
    height: 30vh;
    // padding: 2rem 3.25rem;
  }

  @media (min-width: 992px) {
    background-size: 100%;
  }

  @media (min-width: 1200px) {
    background-size: cover;
    // padding-left: calc((110vw - 1200px) / 2);
    // padding-right:  calc((110vw - 1200px) / 2);
  }
}

.FixedWrapper {
  padding: 2rem 1.6rem;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    padding: 2rem 3.25rem;
  }

  @media (min-width: 1200px) {
    padding-left: calc((110vw - 1200px) / 2);
    padding-right: calc((110vw - 1200px) / 2);
  }
}

.hidden {
  max-height: 0;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  transition: max-height overflow padding 4s ease-in-out;
}

.fixedWrapperCondensed {
  background-color: var(--gray-200);
  z-index: 999;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
}

.backgroundImage {
  position: absolute;
  inset: 0;
}
