.HeaderContainer {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.FixedWrapper {
  padding: 2rem 1.6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;

  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);

  @media (min-width: 768px) {
    padding: 2rem 3.25rem;
  }

  @media (min-width: 1200px) {
    width: 90%;
    // padding-left: calc((110vw - 1500px) / 2);
    // padding-right: calc((110vw - 1500px) / 2);
  }
}

.smallLogo {
  display: block;
  @media (min-width: 992px) {
    display: none;
  }
}
.largeLogo {
  display: none;

  @media (min-width: 992px) {
    display: block;
  }
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
}
