.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: var(--gray-600);
  cursor: pointer;
  background: var(--gray-250);
  padding: 0.5rem;
  border-radius: 8px;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: var(--gray-600);
}
